@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgotten password";

    Layout = "/Views/Shared/_AuthenticateLayout.cshtml";
}

<h1>Forgot your password?</h1>
<p>We got your back</p>

<form id="login" class="input-group-login" method="post">

    <input asp-for="Input.Email" class="input-field" placeholder="Your Email" />
    @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
    <button type="submit" class="submit-btn" style="margin: 20px;">Submit</button>
    <div class="or-box">
        <button class="or-btn">
            OR
        </button>
    </div>
    <button class="help-btns" asp-page="./Login">Log In</button>
    <button class="help-btns" asp-page="./Register">Register</button>
    <button class="help-btns" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}