@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="navbar">
    <div> <a style="color: #3aafa9;">Equiliam</a> </div>
    <nav>
        <ul id='MenuItems'>
            @*<li><a href='#'>Contact us</a></li>*@
        </ul>
    </nav>
</div>
<div class='login-page'>
    <div class="form-box">
        <h1 style="text-align: center; margin-top: 50px; position: relative; color: #5fc3be">Log In</h1>

        <form id='login' class='input-group-login' method="post">

            @*<label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>*@

            <input asp-for="Input.Email" class='input-field' placeholder='Email'>
            <input asp-for="Input.Password" class='input-field' placeholder='Password'>
            <div class="checkbox">
                <input asp-for="Input.RememberMe" type='checkbox' class='check-box'><span>Remember Password</span>
                
            </div>
            <button type='submit' class='submit-btn' name="check">Log in</button>
        </form>
    </div>
</div>


<script src="~/js/site.js" asp-append-version="true"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
