@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";

    Layout = "/Views/Shared/_AuthenticateLayout.cshtml";
} @*<script src="~/js/register.js" defer></script>*@

<div class="navbar">
    <div> <a style="color: #3aafa9; font-family: 'Dancing Script'; font-size: 34px;">Equiliam</a> </div>
</div>
<div class='login-page'>
    <div class="form-box">
        <h1>Nice to meet you!</h1>
        <p>Or maybe I already <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">know you</a>?</p>
        <form asp-route-returnUrl="@Model.ReturnUrl" class='input-group-login' method="post">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@

            <input asp-for="Input.FirstName" class='input-field' placeholder='First Name'>
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>

            <input asp-for="Input.LastName" class='input-field' placeholder='Last Name'>
            <span asp-validation-for="Input.LastName" class="text-danger"></span>

            <input id="username" asp-for="Input.UserName" class='input-field' placeholder='Username'>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
            <div id="username-error" class="text-danger"></div>

            <input id="email" asp-for="Input.Email" class='input-field' placeholder='Email'>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <div id="email-error" class="text-danger"></div>

            <input asp-for="Input.Password" class='input-field' placeholder='Password'>
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <input asp-for="Input.ConfirmPassword" class='input-field' placeholder='Confirm Email'>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

            <button id="submit" type="submit">Register</button>
        </form>
    </div>
</div>

@*@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@
