@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #bee2e0;
}

h1 {
    color: #5fc3be;
    font-size: 34px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    font-family: 'Dancing Script';
}

p {
    font-style: italic;
    text-align: center;
    color: #8bc7c3;
}


.full-page {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(colorful.png);
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}

.logo {
    color: #3aafa9;
    font-family: 'Dancing Script';
    font-size: 34px;
}


.form-box {
    color: #fff;
    width: 380px;
    height: 530px;
    position: relative;
    margin: 2% auto;
    background: rgba(0,0,0,0.4);
    padding: 10px;
    overflow: hidden;
    cursor: default;
}

.check-box {
    margin: 23px 10px 29px 0;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 4px #26736f;
    border-radius: 30px;
}


.input-group-login {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}


.user-name > div {
    float: left;
    width: 47.5%;
    margin-right: 5%;
}


#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #3aafa9;
    color: white;
    border-radius: 30px;
    transition: .5s;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #3aafa9;
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.help-btns {
    width: 78%;
    padding: 8px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: rgba(0,0,0,0.0);
    color: white;
    border: 0;
    outline: #fff;
}


span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

    #login input {
        color: white;
        font-size: 15px;
    }


/*For the show/hide functionality
    the input-field with the password is in this div
    
.input-container {
    position: relative;
}
    .input-container:after {
        position: absolute;
        right: 0;
        top: 15.4px;
        content: 'Show';
        cursor: pointer;
        visibility: hidden;
    }*/

/*.toggle-btn {
    width: 100%;
    padding: 11px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.toggle {
    background: none;
    border: none;
    color: inherit;
    position: absolute;
    z-index: 9;
}*/

/*nav {
    flex: 1;
    text-align: right;
}

    nav ul {
        display: inline-block;
        list-style: none;
    }

        nav ul li {
            display: inline-block;
            margin-right: 70px;
        }

            nav ul li a {
                text-decoration: none;
                font-size: 20px;
                color: white;
                font-family: sans-serif;
            }

            nav ul li button {
                font-size: 20px;
                color: white;
                outline: none;
                border: none;
                background: transparent;
                cursor: pointer;
                font-family: sans-serif;
            }

                nav ul li button:hover {
                    color: aqua;
                }

            nav ul li a:hover {
                color: aqua;
            }

 .input-group-register {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
 }
#register {
    left: 450px;
}

    #register input {
        color: white;
        font-size: 15px;
    }
*/