#tinyAvatar {
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

#myProf {
    width: 155px;
    height: 150px;
    border-radius: 50%;
}

.overlay{
    background-color: #ff0000;
}
    #myProf:hover .overlay {
        opacity: 0.3;
    }

.twoPx {
    margin-right: 2px;
}

body {
    background: url('../Images/From app/opacity.png') no-repeat center center fixed;
    background-size: cover;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

    .grid .user-data {
        flex: 30%;
        background-color: rgb(255, 255, 255, 0.7);
        padding: 20px;
        text-align: center;
    }

    .grid .user-posts {
        flex: 70%;
        background-color: white;
        padding: 20px;
    }  

#border {
    outline: 2px ridge #D9D9D9;
    outline-offset: 17px;
    border-radius: 17px;
    margin: 2%;
}

.amn {
    font-size: 20px;
    padding-top: 6px;
}

.blockk {
    display: table;
    float: left;
    clear: both;
    padding: 0px;
}

.centered-data {
    padding-left: 4%;
}

/*About the profile picture*/
.box {
    position: relative;
    width: 50%;
}

    .box:hover .prof-img {
        opacity: 0.3;
    }

    .box:hover .middle {
        opacity: 1;
    }

.prof-img {
    opacity: 1;
    display: block;
    width: 155px;
    height: 150px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 50%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.edit-img {
    color: #000000;
    font-size: 56px;
}
/*That is all for the profile picture*/