<form asp-action="ProfilePictureUpload" asp-controller="User" method="post" enctype="multipart/form-data">
    <input type="file" name="profilePicture" style="padding-top: 20px; padding-bottom: 20px; " />
    <br />

    <input type="checkbox" name="isDownloadable" value="checked" />
    <span>Will other users be able to download this image?</span>
    <br />

    <button type="submit" class="btn btn-secondary btn-lg">Change profile picture</button>
</form>