@model QrCodeViewModel
@{
    ViewData["Title"] = "QrCode";
}

<div class="user-posts">
    <center>
    <h2>Other users can scan this Qr Code so they can find your profile easier</h2>
        <h4>
            <i>
                <i class="fas fa-angle-double-right"></i> Or you can <a href=@Model.DownloadUrl>dowload</a> it and send it to them <i class="fas fa-angle-double-left"></i>
            </i>
        </h4>

        <img style="height: 50%; width:50%;" src="@Model.Url" alt="Qr code" asp-append-version="true" />
    </center>
</div>