@{
    ViewData["Title"] = "Add post";
}

<h1 style="padding-bottom: 20px;">@ViewData["Title"]</h1>
<form asp-action="Create" asp-controller="Post" method="post" enctype="multipart/form-data">
    <textarea name="content" value="" placeholder="Add some content..." rows="10" cols="35" style=" resize: both;"></textarea>
    <br />
    <input type="file" name="pic" style="padding-top: 20px; padding-bottom: 20px; "/>
    <br />
    <button type="submit" class="btn btn-secondary btn-lg">Post</button>
</form>