@model PostViewModel
@{ ViewData["Title"] = "Edit Post"; }

<link href="~/css/search.css" rel="stylesheet" />

<div class="user-posts">
    <h1 style="padding-bottom: 20px;">@ViewData["Title"]</h1>

    <form asp-route-id="@Model.Id" asp-action="UpdatePost" asp-controller="Post" method="post">
        <textarea name="content" value="" rows="10" cols="35" style="resize: both;" asp-for="@Model.Content"></textarea>
        <br /><br />
        <button type="submit" class="btn btn-secondary btn-lg">Edit</button>
    </form>
</div>