@model PostViewModel

<link href="~/css/search.css" rel="stylesheet" />

<h3>@Model.Content</h3>

<form asp-route-id="@Model.Id" asp-action="UpdatePost" asp-controller="Post" method="post">
    <input type="text" name="content" />
    <button type="submit">Edit</button>
</form>
