@{
    ViewData["Title"] = "Home Page";
    @model List<PostServiceModel>
}

<script src="~/js/search.js" defer></script>
<link href="~/css/search.css" rel="stylesheet" />

<div class="search-wrapper">
    <label for="search">Search User</label>
    <input type="search" id="search" data-search>
</div>
<div class="user-cards" data-user-cards-container></div>
<template data-user-template>
    <div class="card">
        <div class="header" data-header></div>
        <div class="body" data-body></div>
    </div>
</template>

@foreach (var item in Model)
{
    <div class="m-5">@item.Content</div>
}