@model List<UserViewModel>
@{
    ViewData["Title"] = "Your Chats";
}

@foreach (UserViewModel user in Model)
{
    string names = $"{@user.FirstName} {@user.LastName} ({@user.UserName})";

    <a asp-controller="Conversation" asp-action="Chat" asp-route-id="@user.Id">@names</a>
    <br />
}